html{
	height: 100%;
}
body{
	margin: 0;
}
button{
	text-align:center;
}
#main_title_min{
	text-align:center;
	font-size:30px;
	margin:5% 0 0 0;	
	font-family: 'Kosugi Maru', sans-serif;
}
#main_title_big{
	text-align:center;
	font-size:45px;
	margin:0 0 20px 0;
	font-family: 'Kosugi Maru', sans-serif;
}
.bf_antonym{
	text-align:center;
	font-family: 'Kosugi Maru', sans-serif;
	font-size:20px;
}
.antonym{
	text-align:center;
	font-family: 'Kosugi Maru', sans-serif;
	font-size:20px;
}
.antonym div{
	margin:0 0 10px 0;
}
