{% extends "layout.html" %}
{% block content %}

<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <!-- Title -->
        <div id="main_title_min" style="text-align:center;margin:5% 0 0 0;">
          <h1>
            <span class="char1">ざ</span>
            <span class="char2">ん</span>
            <span class="char3">ね</span>
            <span class="char4">ん</span>
            <span class="char5">な</span>
          </h1>
        </div>

        <div class="col-xs-12">
          <div id="main_title_big">対義語辞典</div>
        </div>
        
        <!-- Form -->
        <form action="/" method="post" class="form-inline">
          
          <!-- Input -->
          <input type="text" class="form-control" id="words" name="words" placeholder="単語や文章を入力して下さい" maxlength="10">

          <!-- Button -->
          <div class="col-xs-6 col-xs-offset-3" style="transform: rotate(2deg);margin:15px 0 50px 0;">
            <button type="button" class="btn btn-warning btn-lg">　　生成　　</button>
          </div>
        </form>

        <!-- Result-Header -->
        <div class="bf_antonym" style="margin:0 0 40px 0;">
          {% if in_words %}
            <div class="col-xs-12">「{{ in_words }}」の対義語は...</div>
          {% endif %}
        </div>

        <!-- Result-Antnym -->
        <div class="antonym">
          {% for ant_word in ant_word_list %}
            <div class="col-xs-12 col-md-6 col-lg-4">{{ ant_word }}</div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
